<div class="chatContainer mat-elevation-z1">
    <div class="chatHistory">
        <ng-container *ngFor="let item of chat">
            <div class="chatHistoryItem left" *ngIf="item.from === 'robot'">
                <div class="chatHistoryItemHeader">
                    <button mat-mini-fab class="userIcon mat-elevation-z0">
                        <mat-icon fontSet="material-icons">face</mat-icon>
                    </button>
                </div>
                <span class="spacer"></span>
                <div class="chatHistoryItemBody">
                    <label>{{ item.text }}</label>
                    <div class="button-row" *ngIf="item.options">
                        <button mat-stroked-button color="primary" *ngFor="let opt of item.options">{{ opt.text }}</button>
                    </div>
                </div>
            </div>
            <div class="chatHistoryItem rigth" *ngIf="item.from === 'user'">
                <div class="chatHistoryItemBody">
                    <label>{{ item.text }}</label>
                </div>
                <span class="spacer"></span>
                <div class="chatHistoryItemHeader">
                    <button mat-mini-fab class="userIcon mat-elevation-z0">
                        <mat-icon fontSet="material-icons">rowing</mat-icon>
                    </button>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="chatInput">
        <mat-form-field class="full-width input-no-line">
            <mat-label></mat-label>
            <input type="text" autofocus placeholder="Escribe aquí" matInput>
            <button class="send" matSuffix mat-button mat-icon-button>
                <mat-icon fontSet="material-icons">send</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>