.chatContainer {
  width: 90%;
  height: 90%;
  margin: 3% auto;
  display: block;
  background-color: #ffffff;
  border-radius: 8px 8px 0px 0px;
}

@media screen and (max-width: "600px") {
  .chatContainer {
    margin: 7.5% auto 0% auto;
  }
}

.chatHistory {
  height: calc(100% - 65px);
  overflow: auto;
  background: #f1f1f1;
}

.chatInput {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  background-color: #e0e0e0;
}

.chatInput .full-width {
  height: 50px;
  border: none;
  border-radius: 60px;
  width: 100%;
  padding: 0 20px;
  /* border: none; */
  background: white;
  box-sizing: border-box;
}

.send {
  color: #009c3b;
  top: -5px;
  height: 40px;
  width: 40px;
}

.chatHistoryItem {
  max-width: 100%;
  border-radius: 5px;
  margin: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
}

.chatHistoryItem.left button.userIcon {
  background-color: #009c3b;
}

.chatHistoryItem.rigth button.userIcon {
  background-color: #2f4a9f;
}

.button-row button{
  margin: 1rem 10px;
  border-color: #2f4a9f;
  color: #2f4a9f;
}

.spacer {
  width: 4rem;
}

.chatHistoryItem.left {
  margin-right: 5rem;
}

.chatHistoryItem.rigth {
  margin-left: 5rem;
  text-align: right;
}

@media screen and (max-width: "600px") {
  .button-row button{
    margin: .5rem 10px;
  }

  .chatHistoryItem.left {
    margin-right: 1.4rem;
  }

  .chatHistoryItem.rigth {
    margin-left: 1.4rem;
  }
  .spacer {
    width: 10rem;
  }
}
