.container {
  position: absolute;
  left: 0;
  right: 0;
}

.toolbar {
  background-color: #009c3b;
}

.toolbar button.menuItem {
  height: calc(100% - 1px);
  border-radius: 0;
}

.toolbar .active {
  box-shadow: inset 0 -5px #2f4a9f;
}

.sideNavList {
  height: calc(100% - 8px);
}

.sideNavLastItem {
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: "600px") {
  .sideNavList {
    height: auto;
  }
  .sideNavLastItem {
    display: none;
  }
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  background: #ffffff;
}

.sidenav.contraer {
  width: 64px;
}

.logo {
  width: 140px;
  margin: 0 10px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: rgb(175, 175, 175);
  background-color: #ffffff;
  border-top: 1px solid rgb(222, 222, 222);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer button.active {
  color: #009c3b;
}

.sideNavHeader {
  display: flex;
  align-items: center;
  justify-content: left;
}

.sideNavHeader .app-name {
  font-size: 16px;
  margin: 0;
}

.icon {
  margin: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

.nameItemFooter {
  margin: 0;
  line-height: 14px;
  font-size: 10px;
}

.fixedBotton {
  position: absolute;
  bottom: 0;
}

.rotate {
    transform: rotate(180deg)
}

mat-sidenav-content {
  overflow: hidden;
}
