mat-tab-group {
    height: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
//   justify-content: space-between
}

.item {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
  width: 365px;
}
