<mat-tab-group mat-align-tabs="center">
    <mat-tab [label]="tab.name" *ngFor="let tab of tabs">
        <ng-template matTabContent>
            <div class="content">
                <div class="item" *ngFor="let item of tab.directory">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>{{ item.title }}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>{{ item.description }}</mat-card-content>
                    </mat-card>
                </div>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>