
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$AyniBot-primary: mat-palette($mat-indigo);
$AyniBot-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$AyniBot-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$AyniBot-theme: mat-light-theme($AyniBot-primary, $AyniBot-accent, $AyniBot-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($AyniBot-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: transparent;
}

.input-no-line .mat-form-field-underline{
    display: none;
}

.input-no-line .mat-form-field-infix{
    top: -3px;
}

mat-tab-header {
    background-color: white
}

// .mat-drawer-inner-container {
//     overflow: hidden !important;
// }